html {
  background: white;
}
img {
  max-width: 100%
}
li {
  list-style: none;
}

.octadex {
  position: absolute;
  padding: 10px;
}


.octocat {
  width: 400px;
  margin: 0 auto;
  float: left;
  padding-right: 27px;


}
.octocat a img {
  border: 2px solid grey;
  border-radius: 3px;

}

.authors a img {
  border: none;
  width: 75px;
  float: right;

}
